#-------------------------------------------------------------------------------
# FSA ASSIGNMENTS - ENVIRONMENT CONFIGURATION
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# QUESTION GENERATION
#-------------------------------------------------------------------------------

# Quiz category name in Moodle
QUIZ_CATEGORY="Zápočtové testy/Test A/Praktická úloha"

# Number of questions to generate
NUMBER_OF_QUESTIONS=10

# Regex difficulty control (number of states)
DFA_MIN_STATES_COUNT=5
DFA_MAX_STATES_COUNT=5

NFA_MIN_STATES_COUNT=11
NFA_MAX_STATES_COUNT=13

# Type of automaton, there are three options: "dfa", "nfa", "any"
AUTOMATON_TYPE="any"

# Type of implementation, there are three options: "iterative", "recursive", "any"
IMPLEMENTATION_TYPE="any"

# Max and min number of distinct symbols allowed in generated regexes
MAX_ALPHABET_SIZE=3
MIN_ALPHABET_SIZE=3

#-------------------------------------------------------------------------------
# QUESTION PROPERTIES & EVALUATION SETTINGS
#-------------------------------------------------------------------------------

# Report title/name
REPORT_TITLE="FSA Credit Test A"

#Max points that could be received from assignment
ASSIGNMENT_MAX_POINTS=7

# Test configuration
TEST_WORDS_COUNT=40
BAD_WORD_RATIO_LEVEL=0.25
GROUP_SIZE=4

# DKA (Deterministic Finite Automaton) scoring
DKA_FSA_ISOMORPHISM=30
DKA_FSA_ANNOTATIONS=20
DKA_IMPLEMENTATION=50

# NKA (Nondeterministic Finite Automaton) scoring
NKA_FSA_ISOMORPHISM=50
NKA_IMPLEMENTATION=50


#-------------------------------------------------------------------------------
# MOODLE SETTINGS
#-------------------------------------------------------------------------------

# Moodle credentials
MOODLE_USERNAME="admin"
MOODLE_PASSWORD="1234"

# Moodle assignment link
ASSIGNMENT_LINK="https://moodle.fei.tuke.sk/mod/quiz/view.php?id=14374"

# Question number to evaluate
QUESTION_NUMBER=1

# Runs moodle without GUI
HEADLESS=true

# Wrap regex in $$...$$ for LaTeX rendering in Moodle.
# Set to false if Moodle does not have a LaTeX filter enabled.
REGEX_LATEX_FORMAT=true